#main {
    border-color: aquamarine;
    border-style: solid;
    border-width: 2px;
    font-family: 'Playfair Display', serif;
}

#sidebar {
    border-color: aquamarine;
    border-style: solid;
    border-width: 2px;
}

#container {
    border-color: aquamarine;
    border-style: solid;
    border-width: 2px;
}

body {
    font-family: 'Playfair Display', serif;
}

h1, h2, ul, li {
    font-family: 'Playfair Display', serif;
}

@media (min-width: 600px) {
    #container {
        display: flex;
    }

    #main {
        width: 70%;
    }

    #sidebar {
        width: 30%;
    }
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

@media (max-width: 600px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
        padding: 15px;
    }
}
